:root {
  --main-color: #ff6f69;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #fff;
  color: #fff;
}

a, a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
  color: #000;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

/*min-height:32vh;*/
section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  position: relative;
}

.TERADEK_COUNTDOWN_4 {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__title {
  font-family: Satoshi, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 81px;
  line-height: 122px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: 20%;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .title-decoration {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 40%;
  height: 100%;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .timer-decoration {
  position: absolute;
  top: 63%;
  left: 29%;
  width: 40%;
  height: 100%;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__timer {
  position: absolute;
  font-family: Satoshi, serif;
  left: 20%;
  top: 50%;
  font-weight: bold;
  font-size: 116px;
  line-height: 108px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__timer span {
  font-weight: normal;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__timer .hours, .TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__timer .minutes, .TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__timer .seconds {
  width: 140px;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__decoration-1 {
  position: absolute;
  right: 7%;
  top: 20%;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner {
  position: relative;
  width: 542px;
  margin: auto;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner .decoration-element {
  position: absolute;
  top: -50px;
  left: 0;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner .inner__motion-el {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 28px;
  height: 28px;
  z-index: 2;
}
.TERADEK_COUNTDOWN_4 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner .inner-element {
  position: absolute;
  left: 0;
  top: 0;
}
