:root {
  --main-color: #ff6f69;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #fff;
  color: #fff;
}

a, a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
  color: #000;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  position: relative;
}

.TERADEK_COUNTDOWN_1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__title {
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: Satoshi, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 180px;
  letter-spacing: 0.005em;
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__timer {
  position: absolute;
  font-family: Satoshi, serif;
  left: 33%;
  top: 50%;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__timer span {
  font-weight: normal;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__timer .hours, .TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__timer .minutes, .TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__timer .seconds {
  width: 90px;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-1 {
  position: absolute;
  left: 24%;
  top: 11%;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner {
  position: relative;
  width: 1134px;
  margin: auto;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner .inner__motion-el {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 28px;
  height: 28px;
  z-index: 2;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-1 .decoration__inner .inner__motion-el img {
  position: absolute;
  top: -10px;
  left: -10px;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-2 {
  position: absolute;
  left: 35%;
  top: 48%;
}
.TERADEK_COUNTDOWN_1 .scene-1 .scene-1__content .content__decoration-2 svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.dashed-line {
  -webkit-animation: dash 30s linear infinite;
  stroke-dasharray: 8;
}
